<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

    </script>
</head>

<body>
    <h3>All the responses are limited to JSON</h3>
    <ol>
        <li><a href="product/tags-all/">List all the Tags</a></li>
        <li><a href="product/products-all/">List all Prodcuts</a></li>
        <li><a href="publisher/list-all-publishers/">List all Publishers</a></li>
        <li><a href="publisher/list-all-shops/">List all Shops</a></li>
        <li><a href="customer/list-all-customers/">List all Customers</a></li>
    </ol>
    <div>
        <br>
        <form action="/publisher/list-all-shops/" method="get">
            {% csrf_token %}
            <label for="pincode">search shop by pincode: </label>
            <input id="pincode" type="number" name="shop-pincode">
            <input type="submit" name="submit" value="get">
        </form>
        <br>
    </div>

    <div>
        <br>
        <form action="/publisher/list-all-publishers/" method="get">
            {% csrf_token %}
            <label for="publisher">search publisher by pincode: </label>
            <input id="publisher" type="number" name="publisher-pincode">
            <input type="submit" name="submit" value="get">
        </form>
        <br>
    </div>

    <div class="container">
        <br>
        <form action="/publisher/register-auth/" method="POST">
            {% csrf_token %}
            <label for="contactNumber">Contact Info:</label>
            <input type="text" name="number" id="contactNumber">

            <label for="password">password:</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Register">
        </form>
        <br>
    </div>
</body>

</html>